.App,
.mdisk,
.dood {
  text-align: center;
  background-color: #434645;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  color: white;
}

.mdisk {
  color: black;
  background-color: #e5e5e5;
  width: 100%;
}

#dood-element {
  border: none;
}
#mdisk-element {
  border: none;
}
